@import '../../app.scss';

.projects {
  background: #f1f1db;
  padding: 30px;
  overflow-x: hidden;

  .wrapper {
    .proDesc {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: center;
      justify-content: center;
      padding-bottom: 40px;

      @include mobile {
        text-align: center;
      }

      h3 {
        text-transform: capitalize;
        font-size: 50px;
        font-weight: 900;
        color: rgb(52, 81, 82);
      }

      p {
        font-weight: lighter;
        color: rgb(67, 105, 106);
      }

      button {
        font-weight: bolder;
        font-size: large;
        padding: 10px 30px;
        background-color: rgb(67, 105, 106);
        color: aliceblue;
        cursor: pointer;
        transition: 500ms ease;
        border: none;
      }

      button:hover {
        border-radius: 20px;
        transition: 500ms ease;
        background: transparent;
        border: solid 1px rgb(67, 105, 106);
        color: rgb(52, 81, 82);
      }
    }

    .pro {
      position: relative;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      // padding-left: 200px;
      padding-bottom: 40px;

      @include desktop {
        gap: 3px;
      }

      @include tablet {
      }

      @include mobile {
      }

      .imageWrapper {
        width: 250px;
        border-radius: 20px;
        transition: ease 500ms;
        position: relative;
        overflow: hidden;

        @include desktop {
          width: 200px;
        }

        @include tablet {
          width: 300px;
        }

        @include mobile {
          width: 300px;
        }

        img {
          width: inherit;
          border-radius: inherit;
        }

        .imgDesc {
          position: absolute;
          background: rgba(255, 255, 255, 0.845);
          // filter: blur(2px);
          width: inherit;
          height: 35%;
          padding: 10px;
          text-align: center;
          backdrop-filter: blur(1px);
          bottom: 0%;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
          color: rgb(52, 81, 82);
          transition: ease 500ms;
          display: flex;
          flex-direction: column;
          gap: 5px;

          @include desktop {
            height: 45%;
          }

          @include tablet {
            height: 28%;
          }

          @include mobile {
            height: 28%;
          }

          h3 {
            font-size: 20px;
          }

          p {
            font-size: 12px;
          }

          button {
            padding: 3px 15px;
            cursor: pointer;
            transition: ease 500ms;
          }

          button:hover {
            border: none;
            border-radius: 5px;
            color: white;
            background: rgb(52, 81, 82);
            transition: ease 500ms;
          }
        }
      }

      .slide-hidden {
        transform: scale(0.9);
        filter: blur(1px);
        transition: ease 500ms;

        @include tablet {
          display: none;
        }

        @include mobile {
          display: none;
        }

        .imgDesc {
          // display: none;
          height: 0%;
          transition: ease 500ms;
          filter: blur(5px);
        }
      }

      .arrow {
        position: absolute;
        width: 40px;
        height: 40px;
        color: rgba(52, 81, 82, 0.581);
        bottom: 2px;
        filter: drop-shadow(3px 3px 10px black);
        cursor: pointer;
      }

      .arrow-left {
        left: 80px;
      }

      .arrow-right {
        right: 30px;
      }

      .indicators {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 2px;
        left: 45%;
        gap: 4px;
      }

      .indicator {
        background: white;
        height: 15px;
        width: 15px;
        border-radius: 100%;
        border: none;
        box-shadow: 2px 2px 5px grey;
        cursor: pointer;
        transition: ease 500ms;
      }

      .indicator-inactive {
        background: rgba(52, 81, 82, 0.581);
        transition: ease 500ms;
      }
    }
  }
}
