.footer {
  background: rgb(230, 241, 244);
  padding: 20px 50px;

  .main {
    display: flex;

    .logo {
      flex: 1;
      font-size: larger;
      font-weight: bolder;
    }

    .menu {
      flex: 3;
      display: flex;
      text-transform: capitalize;
      justify-content: center;
      gap: 30px;

      .details {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }

  .foot {
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      font-weight: bold;
    }
    img {
      width: 20px;
      border-radius: 50%;
    }
  }
}
